<head>
    <link rel="stylesheet" href="../css/chatRoom.css">
    <script src="https://kit.fontawesome.com/fb5c3cd0c8.js" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
<div id="video-container"></div>
    <div id="audioMeter"><div></div></div>
    <div class="screen-center">
        <div class="screen-parent">
            <div class="left-screen">
            </div>
            <div class="chat-container">
                <div class="chat-container-content">
                    <div class="msg-top"></div>
                    <div id="chat-box"></div>
                    <div class="msg-bottom">
                        <div class="input-container">
                            <input type="text" id="message-input" placeholder="Write Something..." />
                            <span class="clear-preview" onclick="clearPreview()">&#10005;</span> <!-- Button to clear preview -->
                        </div>                        
                        <div class="icon-group">
                            <div class="icon-left">
                                <span class="image-input-container">
                                    <input type="file" id="image-input" name="file" style="display: none; visibility: none" onchange="displayPreview(this)" />
                                    <label for="image-input"><i class="fa-regular fa-image"></i></label>
                                </span>
                                <span id="toggleCamera"><i class="fa-solid fa-camera camera-active"></i></span>
                                <span id="toggleMicrophone"><i class="fa-solid fa-microphone microphone-active"></i></span>
                                
                            </div>
                            <span onclick="sendMessage()"><i class="send-icon fa-regular fa-paper-plane"></i></span>
                            <button id="settingsBtn">Settings</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="settingsModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Settings</h2>
            <label for="microphoneList">Choose a microphone:</label>
            <select id="microphoneList"></select>
            <h3>Audio Metering</h3>
            <div id="audioMeterModal" class="audio-meter"><div></div></div>

        </div>
    </div>

  <script src="../js/chatRoom/audioMetering.js"></script>
  <script src="../js/chatRoom/preview.js"></script>
  <script src="../js/chatRoom/cameraToggle.js"></script>
  <script src="../js/chatRoom/Message.js"></script>
</body>

<script>
  const name = `<%= name %>`;
  const userid = `<%= userId %>`;
  const socket = io();
  const urlParams = new URLSearchParams(window.location.search);
  const roomId = urlParams.get("roomId");
  const Username = "<%= name %>";

  const ROOM_NAME = new URLSearchParams(window.location.search).get('room');

  socket.emit('join-room', roomId, userid, name);

  socket.on('user-connected', (connectedUserId, userName) => {
      console.log(`User connected: ${userName} (ID: ${connectedUserId})`);
  });

  socket.on('user-disconnected', userId => {
      console.log(`User disconnected: ${userId}`);
  });

  socket.on("receiveMessage", (message) => {
      const chatBox = document.getElementById("chat-box");
      const isAtTop = chatBox.scrollTop === 0;
      const messageDiv = document.createElement("div");

      if (message.senderName === "<%= name %>") {
          messageDiv.classList.add("current-user-message");
      } else {
          messageDiv.classList.add("other-user-message");
      }

      if (message.body.startsWith("<img")) {
          messageDiv.innerHTML = `${message.body} : ${message.senderName}`;
      } else {
          messageDiv.textContent = `${message.body} : ${message.senderName}`;
      }

      chatBox.insertBefore(messageDiv, chatBox.firstChild);

      // If the chat was at the top, scroll to the top after adding a new message
      if (isAtTop) {
          chatBox.scrollTop = 0;
      }
  });
</script>
