<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/todolist.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/cropper.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    

    <title>Welcome to the Island</title>
    
</head>

<body>
    <div class="greet-wrapper">
        <button class="greeting-button">Hello <%= name %>!</button>
        <h2 style="font-size: 40px; font-weight: bold; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);">Welcome to StudiUS</h2>
        <form action="/logout" method="post">
            <button type="submit" class="create-button">Log out</button>
        </form>
    </div>
    <div class="center-box">
        <div class="column-wrapper">
            <div class="left-column">

                <h2>Users</h2>
                <div style="display: flex; gap: 10px; align-items: center;">
                    <input type="text" id="userSearch" placeholder="Search users...">
                    <button id="unselectAllButton" class="unselect-btn">Unselect</button>
                </div>
                <div id="users-list">
                    <div id="users-for-room">
                    </div>
                </div>
            </div>
            <div class="middle-column">
                <h2>All Rooms</h2>
                <button class="create-room" id="init-create-room">Create Room</button>
                <div id="rooms-list">
                </div>
            </div>
            <div class="right-column">
                <h2>To Do List</h2>
                <div class="container">
                    <div id="newtask">
                        <input type="text" id="taskInput" placeholder="Task to be done..">
                        <button class="addTask" id="addTask">Add</button>
                    </div>

                    <div id="tasks"></div>
                </div>
            </div>
        </div>
    </div>





<!-- Edit Profile Modal -->
<div id="editProfileModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Edit Profile</h2>
        <div class="profile-pic-container">
            <img id="profilePicPreview" src="<%= image %>" alt="Profile Picture Preview" style="max-width: 100%; border-radius: 15px;"/>
            <input type="file" id="imageUpload" style="display:none;">
            <button class="button" onclick="document.getElementById('imageUpload').click();">Change Picture</button>
        </div>
        <label for="name">Name:</label>
        <input type="text" id="nameInput" value="<%= name %>">
        <div id="nameError" class="error"></div>
        <button class="button" id="submitChangesBtn">Submit Changes</button>

    </div>
</div>

<div id="createRoomModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeCreateRoomModal">&times;</span>
        <h2>Create Room</h2>
        <div id="roomNameError" class="error"></div>

        <label for="newRoomName">Room Name:</label>
        <input type="text" id="newRoomName" placeholder="Enter Room Name">

        <div class="image-slideshow">
            <button class="slide-arrow left-arrow">&#10094;</button>
            <div class="image-container">
              <div class="slide">
                <img src="/images/peers.png" alt="default" class="slide-image">
                <div class="slide-text">Peers </div>
              </div>
              <div class="slide">
                <img src="/images/game.png" alt="logo" class="slide-image">
                <div class="slide-text">Flash Card Game room</div>
              </div>
              <!-- Add more slides as needed -->
            </div>
            <button class="slide-arrow right-arrow">&#10095;</button>
          </div>
          

        <h3>Selected Users</h3>
        <div id="selectedUsersDisplay"></div>
        <button class="button" id="confirmCreateRoom">Confirm</button>
    </div>
</div>




<div id="editRoomModal" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close" id="closeEditRoomModal">&times;</span>
        <h2>Edit Room</h2>

        <div class="room-edit-header">
            <div>
                <label for="editRoomName">Room Name:</label>
                <input type="text" id="editRoomName" placeholder="Enter Room Name">
            </div>
            <button class="button" id="saveRoomChanges">Save Changes</button>
        </div>

        <div id="roomMembersList"></div>
    </div>
</div>



<script src="../js/home/fetchUsers.js"></script>
<script src="../js/home/fetchRooms.js"></script>
<script src="../js/home/editProfile.js"></script>
<script src="../js/home/todolist.js"></script>
<script src="../js/home/slideShow.js"></script>

<script src="/socket.io/socket.io.js"></script>

<script>
    const currentUserId = '<%= userId %>';

    
    // Assuming you have already established a connection to the Socket.io server
    const socket = io();

    socket.on('global-participants-updated', (data) => {
        console.log("Received global participant update:", data);

        const { roomId, count } = data;

        // Find the element for this room's active participant count
        const participantCountElement = document.getElementById(`active-participants-${roomId}`);
        if (participantCountElement) {
            console.log(`Updating participant count for room ${roomId} to ${count}`);
            participantCountElement.textContent = `Active: ${count}`;

            fetchRoom();
        } else {
            console.log(`Participant count element not found for room ${roomId}`);
        }
    });


</script>
</body>
</html>
