<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <title>Welcome to the Island</title>
</head>
<body>
    <h1 style="color: #0071d7; font-size: 36px;">Welcome to the Island!</h1>
    <div class="center-box">
        <div class="column-wrapper">
        <div class="left-column">
            <div style="display:flex; gap: 20px; align-items:center;">
                <button class="greeting-button">Hello <%= name %>!</button>
                <form action="/logout" method="post">
                    <button type="submit" class="create-button">Log out</button>
                </form>                
            </div>
                                
            <h2>Users:</h2>
            <div style="display: flex; gap: 10px; align-items: center;">
            <input type="text" id="userSearch" placeholder="Search users...">
             <button id="unselectAllButton">Unselect All</button>
            </div>
            <div id="users-list">
            <div id="users-for-room">
             </div>
            </div>
        </div>
        <div class="middle-column">
            <h2>ALL ROOMS</h2>
            <button class="create-button" id="init-create-room">Create Room</button>
            <div id="rooms-list">
            </div>
        </div>
        <div class="right-column">
            <h2>Statistics</h2>
        </div>
    </div>
    </div>

<!-- Edit Profile Modal -->
<div id="editProfileModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Edit Profile</h2>
        <div class="profile-pic-container">
            <img id="profilePic" src="<%= image %>" alt="Profile Picture" />
            <input type="file" id="imageUpload" style="display:none;">
            <button onclick="document.getElementById('imageUpload').click();">Change Picture</button>
        </div>
        <label for="name">Name:</label>
        <input type="text" id="nameInput" value="<%= name %>">
        <button id="updateUsernameBtn">Update Username</button>
        <button id="saveProfileBtn">Update Image</button>
    </div>
</div>

<div id="createRoomModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeCreateRoomModal">&times;</span>
        <h2>Create Room</h2>
        <label for="newRoomName">Room Name:</label>
        <input type="text" id="newRoomName" placeholder="Enter Room Name">
        <h3>Selected Users:</h3>
        <div id="selectedUsersDisplay"></div>
        <button id="confirmCreateRoom">Confirm</button>
    </div>
</div>
<script src="../js/home/fetchUsers.js"></script>
<script src="../js/home/fetchRooms.js"></script>
<script src="../js/home/editProfile.js"></script>
</body>

</html>
