<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Island</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        h2 {
            color: #004b9b;
        }

        .center-box {
            width: 80%;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
            display: flex;
            overflow: hidden;
        }

        .left-column {
            width: 33.33%;
            padding: 20px;
            border-right: 1px solid #ccc;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #d4e4f5;
        }

        .left-column h2 {
            color: #004b9b;
            margin-bottom: 10px;
        }

        #users-list {
            width: 100%;
            border: 1px solid #ccc;
            background-color: #0056b3;
            border-radius: 10px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        #users-for-room {
            width: 100%;
            margin-bottom: 10px;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
        }

        #users-for-room button {
            display: flex;
            align-items: center; /* Vertically center the content */
            margin-bottom: 5px;
            padding: 10px 16px;
            width: calc(100% - 32px);
            text-align: left;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        
        #users-for-room button img {
            margin-right: 10px; /* Space between the image and the text */
        }
        

        #users-for-room button:hover {
            background-color: #f2f2f2;
        }

        .right-column {
            width: 66.67%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #d4e4f5;
        }

        #create-group-button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px;
        }

        #roomName {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            width: 70%; /* Adjust to make the input wider, use a percentage so it's responsive */
            margin-right: 10px; /* Add some space between the input and the button */
        }

        #create-room-button {
            background-color: #004b9b;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        #create-room-button:hover {
            background-color: #0056b3;
        }

        #users-for-room button.selected {
            background-color: lightgreen;
        }        

        #rooms-list {
            width: 100%;
            margin-top: 20px;
            background-color: #f5f5f5;
            border-radius: 10px;
            padding: 10px;
        }

        #rooms-list h3 {
            color: #004b9b;
            background-color: #ddd;
            padding: 5px 10px;
            border-radius: 5px;
        }

        #rooms-list div.room {
            background-color: #004b9b;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px;
        }

        #rooms-list div.room:hover {
            background-color: #0056b3;
        }

        .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    position: relative;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 15px;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.profile-pic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}
#profilePic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.room-name-flex{
    display: flex;
    align-items: center;
    width: 100%; /* Use the full width available */
}

    </style>
</head>
<body>
    <h1 style="color: #004b9b;">Welcome to the Island, <%= name %>!</h1>

    <div class="center-box">
        <div class="left-column">
            <h2>Users:</h2>
            <div id="users-list">
                <div id="users-for-room">

                </div>
            </div>
            <button>Edit Profile</button>
        </div>

        <div class="right-column">
            <h2>Create a Group Chat</h2>
            <div class="room-name-flex">
            <input type="text" id="roomName" placeholder="Room Name">
            <button id="create-room-button">Create Room</button></div>

            <div id="rooms-list">
                <h3>Rooms:</h3>
            </div>
        </div>
    </div>

<!-- Edit Profile Modal -->
<div id="editProfileModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Edit Profile</h2>
        <div class="profile-pic-container">
            <img id="profilePic" src="<%= image %>" alt="Profile Picture" />
            <input type="file" id="imageUpload" style="display:none;">
            <button onclick="document.getElementById('imageUpload').click();">Change Picture</button>
        </div>
        <label for="name">Name:</label>
        <input type="text" id="nameInput" value="<%= name %>">
        <button id="updateUsernameBtn">Update Username</button>
        <button id="saveProfileBtn">Update Image</button>
    </div>
</div>




    <script>
        // Array to keep track of selected users
let selectedUsers = [];

// Fetch users and populate them with buttons
fetch('/users')
    .then(response => response.json())
    .then(users => {
        const usersDiv = document.getElementById('users-for-room');
        users.forEach(user => {
            const button = document.createElement('button');

            // Create an img element for the user's image
            const img = document.createElement('img');
            img.src = user.image;
            img.alt = `${user.name}'s Profile Image`;
            img.style.width = '30px';
            img.style.height = '30px';
            img.style.borderRadius = '15px';
            img.style.marginRight = '10px';

            // Append the image to the button before the text
            button.appendChild(img);

            // Add user name after the image
            const userNameTextNode = document.createTextNode(user.name);
            button.appendChild(userNameTextNode);

            button.addEventListener('click', () => {
                // Toggle the 'selected' class on the button
                button.classList.toggle('selected');

                // Toggle user selection in the selectedUsers array
                if (selectedUsers.includes(user._id)) {
                    selectedUsers = selectedUsers.filter(userId => userId !== user._id);
                } else {
                    selectedUsers.push(user._id);
                }
            });

            usersDiv.appendChild(button);
        });
    });

        function fetchRooms() {
            fetch('/get-rooms')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(rooms => {
                const roomsListDiv = document.getElementById('rooms-list');
                roomsListDiv.innerHTML = '<h3>Existing Rooms:</h3>';
                
                rooms.forEach(room => {
                    const roomDiv = document.createElement('div');
                    roomDiv.className = 'room';
                    roomDiv.textContent = room.name;
                    roomDiv.style.cursor = 'pointer';
                    roomDiv.addEventListener('click', () => {
                        window.location.href = `/chatroom?roomId=${room._id}`;
                    });
                    roomsListDiv.appendChild(roomDiv);
                });
            })
            .catch(error => {
                console.error("Error fetching rooms:", error);
            });
        }

        fetchRooms();

        document.getElementById('create-room-button').addEventListener('click', () => {
            console.log('Create Room button clicked');
    
            const roomName = document.getElementById('roomName').value;
            // Handle selected users and create room logic here

            // Check if no user is selected or room name is empty
            if (!roomName.trim()) {
                alert("Please provide a room name.");
                return;
            }
            if (selectedUsers.length === 0) {
                alert("No users are selected.");
                return;
            }
    
            fetch('/create-room', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ roomName, allowedUsers: selectedUsers })
            })
            .then(res => {
                if (!res.ok) {
                    return res.json().then(err => { throw err; });
                }
                return res.json();
            })
            .then(room => {
                fetchRooms();
            })
            .catch(error => {
                console.error("Error creating room:", error);
            });            
        });

        // this is for edit profile 

// Edit Profile Modal handlers
const editProfileModal = document.getElementById("editProfileModal");
const editProfileBtn = document.querySelector(".left-column button");
const closeBtn = document.getElementsByClassName("close")[0];

// Open the modal
editProfileBtn.onclick = () => editProfileModal.style.display = "block";

// Close the modal
closeBtn.onclick = () => editProfileModal.style.display = "none";

// Close the modal if clicked outside content
window.onclick = event => {
    if (event.target === editProfileModal) {
        editProfileModal.style.display = "none";
    }
};

// Helper function to handle profile updates
const updateProfile = async (formData) => {
    try {
        const response = await fetch('/update-profile', {
            method: 'POST',
            body: formData
        });
        const responseData = await response.json();
        if (responseData.success) {
            editProfileModal.style.display = "none";
            location.reload();  // Refresh the page
        } else {
            throw new Error(responseData.error);
        }
    } catch(error) {
        console.error("Error updating profile:", error);
    }
};


document.getElementById('saveProfileBtn').addEventListener('click', async () => {
    const newName = document.getElementById('nameInput').value;
    const imageInput = document.getElementById('imageUpload');
    const formDataForProfile = new FormData();
    formDataForProfile.append('name', newName);

    if (imageInput && imageInput.files.length > 0) {
        const formDataForImage = new FormData();
        formDataForImage.append('image', imageInput.files[0]);
        try {
            const imageResponse = await fetch('/upload-profile-pic', {
                method: 'POST',
                body: formDataForImage
            });
            const imageData = await imageResponse.json();
            if (imageData.success) {
                formDataForProfile.append('image', imageData.newImageUrl);
                location.reload();  // Refresh the page
            } else {
                throw new Error(imageData.error);
            }
        } catch(error) {
            console.error("Error uploading image:", error);
            return;
        }
    } else {
        // If there's no new image, append the current image URL
        formDataForProfile.append('image', document.getElementById('profilePic').src);
    }

    updateProfile(formDataForProfile);
});

document.getElementById('updateUsernameBtn').addEventListener('click', () => {
    const newName = document.getElementById('nameInput').value;
    const formDataForName = new FormData();
    formDataForName.append('name', newName);
    updateProfile(formDataForName);
});


    </script>
</body>

</html>
