<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/global.css">

    <title>StudiUS</title>
</head>
<body>
    <div class="wrapper">
      <div class="items">
        <div>
          <img src="../images/logo.png" alt="logo image" class="logo">
        </div>
       
      
        <div class="button-wrapper">
          <button class="button" id="signInButton">
            Sign In
          </button>
          <div> ------- or ------- </div>
          <button class="button" id="createAccountButton">
            Create an Account
          </button>
        </div>
      </div>
        
        <!-- Registration Form (with Name, Email, and Password) -->
        <div class="register" style="display: none;" id="registration-form">
            <button class="close-button" id="closeButton1">X</button>
            <h1>Registration</h1>
          <form id="registration-" method="post" action="/register">
              <div class="txt_field">
               <input type="text" id="name" name="name" required>
              <span></span>
             <label for="name">Name</label>
              </div>
          <div class="txt_field">
            <input type="email" id="email" name="email" required>
            <span></span>
            <label for="email">Email</label>
          </div>
          <div class="txt_field">
            <input type="password" id="password" name="password" required>
            <span></span>
            <label for="password">Password</label>
          </div>
          <input type="submit" value="Register" class="submit-register">
          <div class="signup_link">
            Already have an account? <a href="#">Login</a>
          </div>
      </form>
  </div>


        <!-- Login Form (with Email and Password) -->
    <div class="login" style="display: none;" id="login-form">
      <button class="close-button" id="closeButton2">X</button>
      <h1>Login</h1>
      <form id="login" method="post" action="/login">
    <div class="txt_field">
      <input type="email" id="email" name="email" required>
      <span></span>
      <label for="email">Email</label>
    </div>
    <div class="txt_field">
      <input type="password" id="password" name="password" required>
      <span></span>
      <label for="password">Password</label>
    </div>
    <input type="submit" value="Login" class="submit-login">
  </form>
  </div>
      
    </div>
    <script src="../js/loginPage/signIn.js"></script>
</body>
</html>
