/* GLOBAL CSS FOR REPEATING STYLES OVER AND OVER */


/* If you are centering knowing it is a flex child */


/* Button styles */
.button {
  display: inline-block;
  width: 150px; /* Set the width to your desired fixed size */
  height: 40px; /* Set the height to your desired fixed size */
  padding: 0; /* Remove padding to maintain fixed size */
  background-color: #0071d7; /* Light blue background color */
  color: #fff; /* White text color */
  border: none; /* Remove button border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Add cursor pointer on hover */
  transition: background-color 0.3s; /* Smooth background color transition on hover */
}

/* Hover effect */
.button:hover {
  background-color: #0056b3; /* Darker blue background color on hover */
}


/* Slide show testing! */
/* Style for the close button */
/* Style the close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.close-button:hover {
  color: red; /* Change color on hover if desired */
}

.image-slideshow {
  width: 100%;
  max-width: 550px; /* Adjust to fit your needs */
  margin: auto;
  position: relative;
}

.image-container {
  width: 100%;
  overflow: hidden;
  text-align: center; /* Center the image horizontally */
}


/* Style the image when it has the 'selected' class */
.slide-image.selected {
  border: 2px solid green; /* Example border style */
}


.slide-image {
  max-width: 100%; /* Make the image responsive to the container */
  max-height: 232px;
  display: block; /* Display the image as a block element */
  margin: 20px auto; /* Center the image horizontally and add vertical padding */
  object-fit: cover;
}



.slide-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 100;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

